* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

#burger {
  display: none;
}

.burger {
  display: none;
  align-items: center;
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 4.5rem;
  top: 2rem;
}

.menu_burger,
.menu_burger::before,
.menu_burger::after {
  position: absolute;
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #000000;
  border: 1px solid #000000;
  box-sizing: content-box;
}

.menu_burger::before {
  content: "";
  transform: translateY(1.5rem);
  transition: 0.2s;
  left: -1px;
}

.menu_burger::after {
  content: "";
  transform: translateY(-1.8rem);
  transition: 0.2s;
  left: -1px;
}

#burger:checked ~ .burger > .menu_burger {
  visibility: hidden;
}

#burger:checked ~ .burger > .menu_burger::after {
  transform: rotate(-45deg);
  visibility: visible;
}

#burger:checked ~ .burger > .menu_burger::before {
  transform: rotate(45deg);
  visibility: visible;
}

#burger:checked ~ .wrapper_navigate {
  animation: 0.4s linear 0s 1 both list;
}

@keyframes list {
  from {
    height: 0;
  }
  to {
    height: 100rem;
    visibility: visible;
  }
}

.header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 8rem;
  width: 100vw;
  padding-inline: 3rem;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
  z-index: 5;
}

.header_icon {
  width: 8rem;
}

.navigate {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  max-width: 65rem;
  width: 100%;
  list-style: none;
  padding: 0;
}

.navigate_button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 14rem;
  background: #FFFFFF;
  text-transform: uppercase;
  user-select: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.navigate_link:hover,
.active:hover,
.navigate_button:hover {
  animation: 0.5s linear 0s 1 both hover_button;
}

@keyframes hover_button {
  from {
    background: white;
    color: black;
  }
  to {
    background: #000000;
    color: #FFFFFF;
  }
}

.navigate_link:active {
  background: #000000;
  color: #FFFFFF;
}

.navigate_link {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  text-align: center;
  font-size: 1.3rem;
  color: inherit;
  text-decoration: none;
}

.input_checkbox {
  display: none;
}

.is_open_menu {
  animation: 0.4s linear 0s 1 both check_button;
}

@keyframes check_button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.navigate_list {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 20rem;
  top: 5.7rem;
  padding: 2rem 0 2rem 0;
  list-style: none;
  border: 1px solid #BDBDBD;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
  z-index: 3;
}

.navigate_item {
  position: relative;
  text-transform: none;
}

.list_link {
  position: relative;
  display: flex;
  width: 88%;
  left: 2rem;
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
}

.list_link:before {
  content: "•";
  color: black;
  margin: 0 1rem 0 -1rem;
}

.navigate_item:hover {
  background: #BDBDBDFF;
}

.nav_messenger {
  display: none;
}

.body {
  display: flex;
  gap: 9rem;
  flex-direction: column;
  margin: 13rem 3rem 13rem 3rem;
}

.main {
  position: relative;
}

.video {
  position: relative;
  width: 100%;
}

.wrapper_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  width: 100%;
  gap: 2rem;
  top: 16rem;
  background: #FFFFFF80;
  box-shadow: 0 4px 10px 0 #6100001A;
  user-select: none;
  z-index: 2;
}

.title_work {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.about_company {
  gap: 9rem;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  font-family: "Rostov", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.subtitle {
  font-family: "Rostov", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.about_inform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about_history {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_wrapper_text {
  /*display: -webkit-box;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  scroll-behavior: auto;
  text-align: justify;
  -webkit-line-clamp: 4;
}

.about_text {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}

.about_button {
  padding: 1rem;
  font-size: 1.3rem;
  border: 1px solid #BDBDBD;
}

.hidden_button {
  animation: 0.1s linear 0s 1 both button;
}

@keyframes button {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.about_wrapper_img {
  overflow: hidden;
  position: relative;
  height: 57rem;
  background-image: url("./image/photo/photo_1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: flex;
}

.advantages_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}

.advantages_item {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  max-width: 40rem;
  width: 100%;
  box-shadow: 0 4px 10px 0 #6100001A;
  border-radius: 3px;
}

.advantages_wrapper_icon {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #EFEDFF;
}

.advantages_item:hover > .advantages_wrapper_icon {
  animation: 0.4s linear 0s 1 both hover_advantages;
}

@keyframes hover_advantages {
  from {
    background: #EFEDFF;
  }
  to {
    background: #FFE401;
  }
}

.advantages_item:hover > .advantages_wrapper_icon > .visible {
  display: none;
}

.advantages_item:hover > .advantages_wrapper_icon > .hidden {
  display: block;
}

.advantages_icon {
  width: 6rem;
  height: 6rem;
}

.advantages_text {
  margin-right: 1rem;
  align-self: center;
  padding: 1rem 0;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.our_work_content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.our_work_item {
  display: flex;
  flex-direction: column;
  width: 28rem;
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.our_work_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 6rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background: #EFEDFF;
}

.our_work_container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.our_work_wrapper_icon {
  padding: 1rem;
  border-radius: 50%;
  background: #EFEDFF;
}

.our_work_icon {
  display: block;
  position: relative;
  width: 6rem;
  height: 6rem;
  align-self: center;
}

.visible {
  display: block;
}

.hidden {
  display: none
}

.our_work_item:hover > .our_work_text {
  animation: 0.4s linear 0s 1 both hover_our_work_text;
}

@keyframes hover_our_work_text {
  from {
    background: #EFEDFF;
    color: #000000;
  }
  to {
    background: #000000;
    color: #FFFFFF;
  }
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon {
  animation: 1s linear 0s 1 both hover_our_work_wrapper_icon;
}

@keyframes hover_our_work_wrapper_icon {
  from {
    background: #EFEDFF;
  }
  to {
    background: #FFE401;
  }
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon > .visible {
  display: none;
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon > .hidden {
  display: block;
}

.documents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.documents_chapter {
  width: 100%;
  box-shadow: 0 4px 10px 0 #6100001A;
  border-radius: 3px;
}

.documents_chapter_name {
  font-size: 2rem;
  font-family: "Rostov", sans-serif;
  font-weight: 400;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.documents_arrow {
  height: 3rem;
  width: 3rem;
}

.wrapper_library {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.arrow_library {
  cursor: pointer;
  border-radius: 3px;
  width: 5vw;
  visibility: hidden;
}

.open_slider {
  display: flex;
  animation: 0.5s linear 0s 1 both open_increase;
}

@keyframes open_increase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.close_slider {
  animation: 0.5s linear 0s 1 both close_increase;
}

@keyframes close_increase {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.wrapper {
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-auto-flow: column;
  width: 78vw;
  transition: all ease 1s;
  align-items: center;
}

.wrapper_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}

.block_photo {
  display: block;
  background: #D9D9D9;
  box-shadow: 0 4px 10px 0 #6100004D;
  border-radius: 3px;
  width: 24vw;
  height: 34vw;
  cursor: zoom-in;
}

#diploma:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#diploma:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#certificate:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#certificate:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#politic:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#politic:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#technic:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#technic:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

.review {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.wrapper_review {
  background: #F2F2F2;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.review_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  max-width: 66rem;
  border-radius: 3px;
}

.review_hidden {
  opacity: 0;
  visibility: hidden;
}

.review_visible {
  position: relative;
  animation: 0.5s linear 0s 1 both open_review;
}

@keyframes open_review {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
}

.review_title {
  font-weight: 400;
  font-family: "Rostov", sans-serif;
  font-size: 2rem;
}

.review_text_wrapper {
  min-height: 21rem;
}

.review_text {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  padding-bottom: 2rem;
}

.review_photo {
  display: none;
}

.review_button {
  margin-top: 2rem;
  padding: 1rem;
  align-self: end;
  border: 1px solid #BDBDBD;
}

.review_button:hover {
  background: #4F4F4F;
  color: #FFFFFF;
}

.review_wrapper_pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review_icon {
  margin: 4rem 2rem;
}

.review_pages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.review_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}

.review_page:hover {
  background: #000000;
  color: #FFFFFF;
}

.active_button {
  background: #4F4F4F;
  color: #FFFFFF;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 3rem;
  background: #4F4F4F;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.services_title {
  color: #FFFFFF;
}

.services_types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.services_column {
  display: grid;
  gap: 4rem;
  grid-auto-rows: min-content;
  margin-bottom: 4rem;
  max-width: 30rem;
  width: 100%;
}

.services_type {
  position: relative;
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
  border-radius: 3px;
  cursor: pointer;
}

.services_type_header {
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.services_type_icon {
  width: 4rem;
  height: 4rem;
  background: #E0E0E0;
  box-shadow: 0 4px 10px 0 #6100001A;
  border-radius: 3px;
}

.services_type_name {
  width: 100%;
  margin-inline: 2rem;
  align-self: center;
  font-size: 2rem;
  font-family: "Rostov", sans-serif;
}

.services_type_content {
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  margin: 1rem -1rem;
  padding: 0 2rem;
}

.services_type_ul {
  padding: 0;
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
}

.services_type_li {
  margin-left: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 2rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 14rem 4rem;
  gap: 8rem;
}

.content_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_slider {
  display: flex;
  flex-direction: row;
  position: relative;
  /*width: 90vw;*/
}


.animate {
  animation: 0.5s linear 0s 1 both go_move;
}

@keyframes go_move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25vw);
  }
}

.project_name {
  margin: 2vw 0 1vw;
  height: 5vw;
  align-self: flex-start;
  font-weight: 400;
  font-size: 2vw;
  font-family: "Rostov", sans-serif;
}

.project_inform {
  display: inline-block;
  align-self: flex-start;
  height: 5vw;
  font-family: "Inter", sans-serif;
  font-size: 1.5vw;
}

.portfolio_gallery_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.portfolio_gallery_button {
  display: flex;
  justify-content: center;
  width: 7rem;
  padding-block: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  color: lightgrey;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

.active {
  color: #000000;
}

.disable {
  color: #BDBDBD;
}

.space {
  width: 1.3rem;
  margin-inline: 2rem;
  border-bottom: 1px solid #000000;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 8rem 3.5rem;
  background: #4F4F4F;
}

.contact_title {
  color: #FFFFFF;
  font-family: "Rostov", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.contact_inform {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  gap: 2rem;
  padding: 2rem 0 8rem;
}

.contact_inform_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact_inform_item {
  display: flex;
  flex-direction: row;
}

.contact_inform_icon {
  width: 2rem;
  height: 2rem;
}

.contact_inform_text {
  margin-left: 1rem;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.contact_map {
  align-self: center;
  width: 80vw;
}

.map {
  width: 100%;
  height: 35rem;
  border: 0;
  border-radius: 3px;
}

.messenger {
  position: fixed;
  display: flex;
  gap: 2rem;
  bottom: 16rem;
  transform: translateY(75%);
  right: 2rem;
  flex-direction: column;
  z-index: 3;
}

.messenger_icon {
  width: 3.5rem;
  height: 3.5rem;
  background: #FFFFFF;
}

.messenger_icon:hover {
  scale: 1.2;
}

.developer {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
  background: #4F4F4F;
  color: darkgrey;
  font-family: Rostov, sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: default;
}

.team_name {
  color: lightsteelblue;
  padding-left: 3px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.03rem;
  letter-spacing: 1px;
}

.increase_wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(3, 3, 3, .4);
  z-index: 6;
  backdrop-filter: blur(10px);
}


.increase_image {
  width: auto;
  max-width: 95%;
  max-height: 90%;
  cursor: zoom-out;
  animation: 1s linear 0s 1 both show_image;
}

@keyframes show_image {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.visible_arrow {
  visibility: visible;
}

.left, .right {
  position: fixed;
  top: 50%;
  z-index: 7;
  visibility: visible;
}

.right {
  left: 2rem;
}

.left {
  right: 2rem;
}

@media (max-width: 1920px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 1220px) {
  .about_text {
    font-size: 1.2rem;
  }
}

@media (max-width: 1020px) {
  * {
    font-size: 12px;
  }
}

@media (max-width: 870px) {
  * {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  * {
    font-size: 8px;
  }
}

@media (max-width: 580px) {
  * {
    font-size: 6px;
  }
  
  .increase_wrapper {
    padding: 5rem;
  }
  
  .increase_image {
    max-width: 100%;
    /*height: auto;*/
  }
}

@media (max-width: 440px) {
  .header {
    justify-content: center;
  }
  
  .header_icon {
    width: 12rem;
  }
  
  .burger {
    display: flex;
  }
  
  .wrapper_navigate {
    position: fixed;
    height: 0;
    top: 8rem;
    left: 0;
    background: #FFFFFF;
    overflow: hidden;
    width: 100%;
    z-index: 3;
    box-shadow: 0 4px 10px 0 #6100001A;
  }
  
  .navigate {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4rem 2rem;
    gap: 2rem;
    width: auto;
  }
  
  .navigate_button {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    border: 1px solid #BDBDBD;
  }
  
  .navigate_link:hover,
  .active:hover,
  .navigate_button:hover {
    background: none;
    animation: none;
  }
  
  .navigate_list {
    position: relative;
    width: 100%;
    height: 0;
    top: 1rem;
    padding: 0;
    border: none;
    box-shadow: none;
    opacity: 1;
  }
  
  .navigate_link {
    font-size: 2rem;
  }
  
  .list_link {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    left: 0;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    background: #f5f5f5;
    text-transform: uppercase;
    user-select: none;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
  }
  
  .list_link::before {
    content: "";
  }
  
  .navigate_link:active {
    background: #FFFFFF;
    color: #000000;
  }
  
  .is_open_menu {
    overflow: hidden;
    animation: 1s linear 0s 1 both check;
  }
  
  @keyframes check {
    from {
      height: 0;
    }
    to {
      height: 46rem;
      visibility: visible;
    }
  }
  
  .nav_messenger {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .messenger_link {
    border: 1px solid #BDBDBD;
    
  }
  
  .messenger_icon {
    width: 4.5rem;
    height: 4.5rem;
  }
  
  .body {
    margin-bottom: 6rem;
    gap: 6rem;
  }
  
  .wrapper_title {
    top: 2rem;
  }
  
  .main {
    top: 8rem;
  }
  
  .about_company {
    gap: 4rem;
  }
  
  .about_inform {
    grid-template-columns: 1fr;
  }
  
  .about_text {
    text-align: left
  }
  
  .about_wrapper_img {
    display: none;
  }
  
  .review {
    flex-direction: column;
  }
  
  .review_wrapper_pages {
    align-items: center;
  }
  
  .review_icon {
    display: none;
  }
  
  .services {
    gap: 4rem;
  }
  
  .portfolio {
    padding-block: 6rem;
    gap: 4rem;
  }
  
  .portfolio_gallery_buttons {
    display: none;
  }
  
  .contact {
    padding-top: 4rem;
  }
  
  .contact_inform {
    grid-template-rows: repeat(3, 1.5fr);
    grid-template-columns: 1fr;
    gap: 0;
    padding-bottom: 0;
  }
  
  .messenger {
    position: relative;
    margin-block: 3rem;
    bottom: 0;
    border: 0;
    transform: translateX(0);
    align-self: center;
    flex-direction: row;
  }
  
  .messenger_link {
    border: none;
  }
  
  .messenger_icon {
    background: none;
  }
}