* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 108px;
  padding-inline: 50px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.header_icon {
  width: 116px;
  height: 70px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  max-width: 890px;
  width: 100%;
  list-style: none;
  padding: 0;
}

.navigate_button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 200px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  font-size: 20px;
  text-transform: uppercase;
  user-select: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.navigate_link:hover,
.active:hover,
.navigate_button:hover {
  animation: 1s linear 0s 1 alternate hover_button;
  animation-fill-mode: both;
}

@keyframes hover_button {
  from {
    background: white;
    color: black;
  }
  to {
    background: #4F4F4F;
    color: #FFFFFF;
  }
}

.navigate_link:active {
  background: #000000;
  color: #FFFFFF;
}

.navigate_link {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.input_checkbox {
  display: none;
}

.is_open_menu {
  animation: 0.8s linear 0s 1 alternate check_button;
  animation-fill-mode: both;
}

@keyframes check_button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

#input_company:checked ~ .navigate_list {
  animation: 0.8s linear 0s 1 alternate check_button;
  animation-fill-mode: both;
}

#input_work:checked > .navigate_button {
  background: black;
}

.navigate_list {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 270px;
  top: 75px;
  padding: 30px 0 30px 0;
  list-style: none;
  border: 1px solid #BDBDBD;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
  z-index: 3;
}

.navigate_item {
  position: relative;
  text-transform: none;
}

.list_link {
  position: relative;
  display: flex;
  width: 88%;
  left: 30px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

.list_link:before {
  content: "•";
  color: black;
  margin: 0 10px 0 -15px;
}

.navigate_item:hover {
  background: #BDBDBDFF;
}

.body {
  display: flex;
  gap: 120px;
  flex-direction: column;
  margin: 200px 50px 200px 50px;
}

.main {
  position: relative;
}

.video {
  position: relative;
  width: 100%;
}

.wrapper_title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
  width: 100%;
  gap: 30px;
  top: 130px;
  background: #FFFFFF80;
  box-shadow: 0 4px 10px 0 #6100001A;
  user-select: none;
  z-index: 2;
}

.title {
  font-size: 48px;
  font-family: "Rostov", sans-serif;
}

.title_work {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.about_company {
  gap: 120px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 60px;
  font-family: "Rostov", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.subtitle {
  font-family: "Rostov", sans-serif;
  font-size: 36px;
}

.about_inform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
}

.about_history {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about_wrapper_text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  scroll-behavior: auto;
  text-align: justify;
  -webkit-line-clamp: 4;
}

.about_wrapper_hidden {
  animation: 0.8s linear 0.2s 1 alternate hidden_wrapper;
  animation-fill-mode: both;
}

@keyframes hidden_wrapper {
  0% {
    -webkit-line-clamp: 4;
  }
  4% {
    -webkit-line-clamp: 5;
  }
  8% {
    -webkit-line-clamp: 6;
  }
  12% {
    -webkit-line-clamp: 7;
  }
  16% {
    -webkit-line-clamp: 8;
  }
  20% {
    -webkit-line-clamp: 9;
  }
  24% {
    -webkit-line-clamp: 10;
  }
  28% {
    -webkit-line-clamp: 11;
  }
  32% {
    -webkit-line-clamp: 12;
  }
  36% {
    -webkit-line-clamp: 13;
  }
  40% {
    -webkit-line-clamp: 14;
  }
  44% {
    -webkit-line-clamp: 15;
  }
  48% {
    -webkit-line-clamp: 16;
  }
  52% {
    -webkit-line-clamp: 17;
  }
  54% {
    -webkit-line-clamp: 18;
  }
  58% {
    -webkit-line-clamp: 19;
  }
  62% {
    -webkit-line-clamp: 20;
  }
  68% {
    -webkit-line-clamp: 21;
  }
  72% {
    -webkit-line-clamp: 22;
  }
  76% {
    -webkit-line-clamp: 23;
  }
  80% {
    -webkit-line-clamp: 24;
  }
  84% {
    -webkit-line-clamp: 25;
  }
  88% {
    -webkit-line-clamp: 26;
  }
  92% {
    -webkit-line-clamp: 27;
  }
  96% {
    -webkit-line-clamp: 28;
  }
  100% {
    -webkit-line-clamp: 29;
  }
}

.about_text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}

.about_button {
  padding: 10px;
}

.hidden_button {
  animation: 0.1s linear 0s 1 alternate button;
  animation-fill-mode: both;
}

@keyframes button {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.about_wrapper_img {
  overflow: hidden;
  height: 590px;
  position: relative;
  right: -50px;
  background-image: url("./image/photo/photo_1.jpg");
  background-size: cover;
  background-position: center;
}

.advantages_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.advantages_item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.advantages_wrapper_icon {
  padding: 13px;
  background: #EFEDFF;
}

.advantages_item:hover > .advantages_wrapper_icon {
  animation: 0.8s linear 0s 1 alternate hover_advantages;
  animation-fill-mode: both;
}

@keyframes hover_advantages {
  from {
    background: #EFEDFF;
  }
  to {
    background: #FFE401;
  }
}

.advantages_item:hover > .advantages_wrapper_icon > .visible {
  display: none;
}

.advantages_item:hover > .advantages_wrapper_icon > .hidden {
  display: block;
}

.advantages_icon {
  width: 90px;
  height: 90px;
}

.advantages_text {
  align-self: center;
  width: 300px;
  padding: 10px 0;
}

.our_work_content {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.our_work_item {
  display: flex;
  flex-direction: column;
  width: 450px;
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.our_work_text {
  padding: 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #EFEDFF;
}

.our_work_container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.our_work_wrapper_icon {
  padding: 13px;
  border-radius: 50%;
  background: #EFEDFF;
}

.our_work_icon {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
}

.visible {
  display: block;
}

.hidden {
  display: none
}

.our_work_item:hover > .our_work_text {
  animation: 0.8s linear 0s 1 alternate hover_our_work_text;
  animation-fill-mode: both;
}

@keyframes hover_our_work_text {
  from {
    background: #EFEDFF;
    color: #000000;
  }
  to {
    background: #000000;
    color: #FFFFFF;
  }
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon {
  animation: 2s linear 0s 1 alternate hover_our_work_wrapper_icon;
  animation-fill-mode: both;
}

@keyframes hover_our_work_wrapper_icon {
  from {
    background: #EFEDFF;
  }
  to {
    background: #FFE401;
  }
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon > .visible {
  display: none;
}

.our_work_item:hover > .our_work_container > .our_work_wrapper_icon > .hidden {
  display: block;
}

.documents {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.documents_chapter {
  width: 100%;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.documents_chapter_name {
  font-size: 24px;
  font-family: "Rostov", sans-serif;
  font-weight: 400;
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.documents_arrow {
  height: 40px;
  width: 40px;
}

.wrapper_library {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-bottom: 60px;
}

.arrow_library {
  cursor: pointer;
}

.increase_wrapper_library {
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(3, 3, 3, .4);
  cursor: zoom-out;
}

.open_slider {
  animation: 1s linear 0s 1 alternate open_increase;
  animation-fill-mode: both;
}

@keyframes open_increase {
  from {
    display: flex;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.close_slider {
  animation: 1s linear 0s 1 alternate close_increase;
  animation-fill-mode: both;
}

@keyframes close_increase {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.left {
  visibility: hidden;
}

.documents_library {
  width: 100%;
  overflow: hidden;
}

.increase_documents_library {
  height: 90%;
}

.increase_documents_images {
  height: 100%;
}

.documents_images {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: all ease 1s;
}

.documents_library_photo {
  cursor: zoom-in;
}

.increase_documents_library_photo {
  cursor: auto;
  height: inherit;
  z-index: 4;
}

#diploma:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#diploma:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#diploma:checked ~ .wrapper_library {
  display: flex;
}

#certificate:checked ~ .wrapper_library {
  display: flex;
}

#certificate:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#certificate:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#politic:checked ~ .wrapper_library {
  display: flex;
}

#politic:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#politic:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

#technic:checked ~ .wrapper_library {
  display: flex;
}

#technic:checked ~ .documents_chapter_name > .visible {
  display: none;
}

#technic:checked ~ .documents_chapter_name > .hidden {
  display: block;
}

.review {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.wrapper_review {
  background: #F2F2F2;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.review_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px 30px;
  max-width: 930px;
}

.review_hidden {
  opacity: 0;
  visibility: hidden;
}

.review_visible {
  position: relative;
  animation: 1s linear 0s 1 alternate open_review;
  animation-fill-mode: both;
}

@keyframes open_review {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
}

.review_title {
  font-weight: 400;
  font-family: "Rostov", sans-serif;
  font-size: 24px;
}

.review_text_wrapper {
  height: 300px;
}

.review_text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding-bottom: 24px;
}

.review_photo {
  display: none;
}

.review_button {
  margin-top: 30px;
  padding: 10px;
  align-self: end;
}

.review_button:hover {
  background: #4F4F4F;
  color: #FFFFFF;
}

.review_wrapper_pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review_icon {
  margin: 60px 30px;
}

.review_pages {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.review_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 30px;
  border: 1px solid gray;
  cursor: pointer;
}

.review_page:hover {
  background: #000000;
  color: #FFFFFF;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 60px 50px;
  background: #4F4F4F;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.services_types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.services_column {
  display: grid;
  gap: 60px;
  grid-auto-rows: min-content;
  margin-bottom: 60px;
  max-width: 450px;
  width: 100%;
}

.services_type {
  position: relative;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 0 #6100001A;
  cursor: pointer;
}

.services_type_header {
  display: flex;
  flex-direction: row;
}

.services_type_icon {
  width: 60px;
  height: 60px;
  background: #E0E0E0;
  box-shadow: 0 4px 10px 0 #6100001A;
}

.services_type_name {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 24px;
  font-family: "Rostov", sans-serif;
}

.services_type_content {
  display: none;
  flex-direction: column;
  position: relative;
  background: #FFFFFF;
  overflow: hidden;
  margin: 9px -10px;
  padding: 0 30px;
}

.is_open {
  display: flex;
  animation: 0.3s linear 0s 1 alternate open_work;
  animation-fill-mode: both;
}

@keyframes open_work {
  from {
    height: 0;
  }
  to {
    height: 460px;
  }
}

.is_close {
  animation: 0.3s linear 0s 1 alternate close_work;
  animation-fill-mode: both;
}

@keyframes close_work {
  from {
    height: 460px;
    display: flex;
  }
  to {
    height: 0;
  }
}

.services_type_ul {
  padding: 0;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.services_type_li {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 200px 50px;
  gap: 120px;
}

.portfolio_gallery {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 30px;
}

.project {
  position: absolute;
  flex-direction: column;
  align-items: center;
}

.hidden_project {
  position: absolute;
  display: none;
}

.visible_project {
  position: relative;
  display: flex;
  /*animation: 2.3s linear 0s 1 alternate right_move;*/
  /*animation-fill-mode: both;*/
}

.photo_wrapper {
  overflow: hidden;
}

.project_photo {
  width: 100%;
  height: 100%;
  display: block;
  background: #D9D9D9;
  cursor: zoom-in;
}

.project_name {
  margin: 30px 0 10px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 24px;
  font-family: "Rostov", sans-serif;
}

.project_inform {
  display: inline-block;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.portfolio_gallery_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.portfolio_gallery_button {
  display: block;
  width: 95px;
  padding-block: 5px;
  text-align: center;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.active{
  border: 1px solid #4F4F4F;
  color: #000000;
}
.disable{
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
}

.space {
  width: 16px;
  margin-inline: 22px;
  border: 1px solid #BDBDBD;
  height: 1px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 120px 50px;
  background: #4F4F4F;
}

.contact_title {
  color: #FFFFFF;
  font-family: "Rostov", sans-serif;
  font-size: 36px;
  letter-spacing: 3px;
}

.contact_inform {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 0 120px;
}

.contact_inform_column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_inform_item {
  display: flex;
  flex-direction: row;
}

.contact_inform_icon {
  width: 24px;
  height: 24px;
}

.contact_inform_text {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.contact_map {
  margin-inline: 200px;
}



